@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio/RoadRadio-Bold.eot");
  src: local("../fonts/RoadRadio/RoadRadio-Bold"), url("../fonts/RoadRadio/RoadRadio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RoadRadio/RoadRadio-Bold.woff") format("woff"), url("../fonts/RoadRadio/RoadRadio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RoadRadio-Regular";
  src: url("../fonts/RoadRadio/RoadRadio.eot");
  src: local("../fonts/RoadRadio/RoadRadio"), url("../fonts/RoadRadio/RoadRadio.eot?#iefix") format("embedded-opentype"), url("../fonts/RoadRadio/RoadRadio.woff") format("woff"), url("../fonts/RoadRadio/RoadRadio.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway/Raleway-SemiBold.eot");
  src: local("../fonts/Raleway/Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.eot");
  src: local("../fonts/Raleway/Raleway"), local("Raleway-Regular"), url("../fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat/Montserrat-Regular.eot");
  src: local("../fonts/Montserrat/Montserrat/Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.eot");
  src: local("../fonts/Inter/Inter Medium"), local("Inter-Medium"), url("../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("../fonts/ProximaNova/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.body {
  max-width: 480px;
  text-align: center;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
}

.container {
  max-width: 380px;
  margin: 0 auto;
}

.title {
  font-family: "RoadRadio";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #F6E9FF;
}

.page-title {
  font-size: 50px;
  color: #F6E9FF;
  margin: 0;
  padding-top: 40px;
}

.main {
  width: 100%;
  margin: 0 auto;
  background: #080311;
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.promo {
  text-align: center;
}
.promo .subtitle {
  margin: 30px 0 40px 0;
}
.promo__img {
  border-radius: 50px 50px 0 0;
  display: flex;
}
.promo-flex {
  padding: 37px 50px 70px 50px;
  font-family: "Raleway-Regular";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #12102B;
  border-radius: 0px 0px 50px 50px;
  text-align: left;
  gap: 50px;
}
.promo-flex__column:first-child {
  position: relative;
}
.promo-flex__column:first-child::after {
  width: 1px;
  height: 115px;
  content: "";
  position: absolute;
  right: -49px;
  top: 21px;
  background-color: rgba(205, 205, 255, 0.1);
}
.promo-flex__column:last-child {
  max-height: 105px;
  margin-top: 40px;
}
.promo-flex__price-text {
  margin: 0;
}
.promo-flex__sale {
  margin: 0 auto;
  position: relative;
  display: flex;
  padding-left: 50px;
  text-align: left;
}
.promo-flex__sale::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 12px;
  background-image: url(../img/discount.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}
.promo-flex .new-price {
  color: rgb(148, 252, 44);
  font-size: 25px;
  display: block;
  font-family: "Raleway-SemiBold";
  font-weight: 600;
  line-height: 29px;
}
.promo-flex .old-price {
  opacity: 0.5;
  text-decoration: line-through;
}
.promo .buy-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(96.94deg, #6824D1 4.41%, #AC41E6 103.91%);
  border-radius: 16px;
  width: 277px;
  line-height: 1;
  padding: 30px 0;
  padding-top: 27px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -51px;
  z-index: 1;
}
.promo .buy-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(96.94deg, #7A2CFC 4.41%, #C850FB 103.91%);
  bottom: 4px;
  left: 0;
  border-radius: 16px;
  z-index: -1;
}

.characteristics {
  text-align: center;
}
.characteristics .subtitle {
  text-align: center;
  font-size: 18px;
}
.characteristics__img {
  border-radius: 57px;
}

.explore {
  text-align: center;
  margin-bottom: 70px;
}
.explore .title {
  margin-top: 70px;
}
.explore__img {
  border-radius: 50px;
}
.explore__text {
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
}
.explore__text .small {
  text-transform: initial;
  color: #94FC2C;
}
.explore__text .big {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #94FC2C;
  text-transform: uppercase;
}
.explore__subtitle {
  font-family: "Raleway-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 38px;
}
.explore__subtitle::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  background-image: url(../img/Star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.explore .second-title {
  margin-top: 30px;
}
.explore .second-text {
  margin-bottom: 50px;
}

.info .title {
  margin: 0 0 70px 0;
}
.info__img {
  border-radius: 53px;
}
.info__subtitle {
  font-family: "Raleway-Regular";
  font-size: 25px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 80px;
}
.info__list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}
.info__list-item {
  padding-left: 17px;
  position: relative;
}
.info__list-item:not(:last-child) {
  padding-bottom: 20px;
}
.info__list-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #94FC2C;
  border-radius: 50%;
  left: 0;
  top: 10px;
}

.slider .swiper {
  width: 100%;
  height: 580px;
}
.slider .swiper-slide {
  background-color: #fff;
  height: 470px;
  text-align: left;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
.slider .swiper-slide .slider-img {
  display: block;
  padding-left: 25px;
  margin-top: 30px;
  width: 300px;
}
.slider .swiper-slide .slider-name-wrapper {
  margin-top: 30px;
}
.slider .swiper-slide .slider__name {
  font-family: "Raleway-SemiBold";
  font-weight: 600;
  background: linear-gradient(96.94deg, #94FC2C 4.41%, #1FCB30 103.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  padding-right: 15px;
  padding-left: 25px;
  font-size: 25px;
  margin: 0;
}
.slider .swiper-slide span {
  font-family: "Raleway-Regular";
  color: #030303;
  opacity: 0.5;
  background: none;
  font-size: 20px;
}
.slider .swiper-slide .slider__text {
  padding-left: 25px;
  font-size: 20px;
  line-height: 24px;
  color: #030303;
  width: 290px;
}
.slider .swiper .swiper-pagination-bullet {
  transition: all 0.3s ease;
  width: 13px;
  height: 13px;
  background: #6E788B;
  transform: scale(1);
}
.slider .swiper .swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}
.slider .swiper .swiper-pagination-bullet-active {
  transform: scale(1.5);
  background: linear-gradient(96.94deg, #94FC2C 4.41%, #1FCB30 103.91%);
}
.slider .swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.late-title {
  font-family: "RoadRadio-Regular";
  font-weight: 400;
}

.delivery .title {
  margin-top: 70px;
}
.delivery .subtitle {
  font-size: 25px;
  font-family: "Raleway-SemiBold";
  text-align: left;
  padding-left: 45px;
  position: relative;
}
.delivery .subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.delivery .delivery__text {
  text-align: left;
  font-family: "Raleway-Regular";
  margin-bottom: 30px;
}

.promo .subtitle, .final .subtitle {
  margin-bottom: 50px;
}

.form-buy .title {
  font-size: 50px;
  margin-bottom: 50px;
  line-height: 50px;
}
.form-buy .form {
  margin-bottom: 35px;
}
.form-buy .form__text {
  font-family: "Raleway-Regular";
}
.form-buy .form__input {
  border: none;
  background-color: #fff;
  border-radius: 9px;
  text-align: center;
  margin-bottom: 30px;
  width: 97%;
  height: 90px;
}
.form-buy .form__buy-btn {
  text-decoration: none;
  color: #fff;
  border-radius: 16px;
  width: 277px;
  height: 80px;
  border: none;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  position: relative;
  z-index: 2;
  background: linear-gradient(96.94deg, #6824D1 4.41%, #AC41E6 103.91%);
}
.form-buy .form__buy-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(96.94deg, #7A2CFC 4.41%, #C850FB 103.91%);
  bottom: 4px;
  left: 0;
  border-radius: 16px;
  z-index: -1;
}

.form-buy .terms, .form-buy .contact {
  font-family: "Proxima Nova Rg";
  text-decoration: none;
  color: #fff;
  opacity: 0.3;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.form-buy .terms {
  margin-top: 50px;
  display: inline-block;
}
.form-buy .contact {
  padding-bottom: 30px;
}

@media (max-width: 479px) {
  .main {
    width: 100%;
  }
  .slider .swiper-slide .slider-img {
    width: 260px;
  }
}
@media (max-width: 420px) {
  .slider .swiper-slide .slider-img {
    width: 240px;
  }
  .slider .swiper-slide .slider__text {
    width: 239px;
  }
}
@media (max-width: 400px) {
  .slider .swiper-slide .slider-img {
    width: 240px;
  }
  .slider .swiper-slide .slider__text {
    width: 249px;
  }
  .title {
    font-size: 20px;
  }
}
@media (max-width: 380px) {
  .slider .swiper-slide .slider__text {
    padding-left: 25px;
    font-size: 14px;
    line-height: 24px;
    color: #030303;
    width: 80%;
  }
  .slider .swiper-slide .slider-img {
    width: 210px;
  }
  .container {
    max-width: 320px;
  }
  .body {
    font-size: 14px;
  }
  .title {
    font-size: 35px;
  }
  .promo-flex {
    gap: 20px;
  }
  .promo-flex__column:first-child::after {
    right: -26px;
  }
}
@media (max-width: 320px) {
  .promo-flex {
    padding: 32px 32px 70px 32px;
  }
  .title {
    font-size: 32px;
  }
  .slider .title {
    font-size: 22px;
  }
  .slider .swiper-slide .slider-img {
    width: 182px;
  }
  .container {
    max-width: 284px;
    margin: 0 auto;
  }
}
footer {
  padding-bottom: 20px;
  font-size: 18px;
}
footer p {
  margin-bottom: 10px;
}
footer a {
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */